@if (sensorData$ | async; as sensorData) {
  <div class="dashboard-grid">
    <app-generic-sensor-card
      class="dashboard-area-roll"
      [cardClass]="'h-full min-h-0'"
      [title]="'ROLL'"
      [value]="sensorData?.ROLL?.value ?? 0"
      [unit]="sensorData?.ROLL?.unit ?? ''"
      [failed]="sensorData?.ROLL?.failed ?? true"
    ></app-generic-sensor-card>
    
    <app-generic-sensor-card
      class="dashboard-area-pitch"
      [cardClass]="'h-full min-h-0'"
      [title]="'PITCH'"
      [value]="sensorData?.PITCH?.value ?? 0"
      [unit]="sensorData?.PITCH?.unit ?? ''"
      [failed]="sensorData?.PITCH?.failed ?? true"
    ></app-generic-sensor-card>
    
    <app-generic-sensor-card
      class="dashboard-area-sog"
      [cardClass]="'h-full min-h-0'"
      [title]="'SOG'"
      [value]="sensorData?.SOG?.value ?? 0"
      [unit]="sensorData?.SOG?.unit ?? ''"
      [failed]="sensorData?.SOG?.failed ?? true">
    </app-generic-sensor-card>
    
    <app-yaw-card
      class="dashboard-area-yaw"
      [cardClass]="'h-full min-h-0'"
      [title]="'YAW'"
      [value]="sensorData?.YAW?.value ?? 0"
      [unit]="sensorData?.YAW?.unit ?? ''"
      [failed]="sensorData?.YAW?.failed ?? true"
    ></app-yaw-card>
    
    <app-generic-sensor-card
      class="dashboard-area-vmg"
      [cardClass]="'h-full min-h-0'"
      [title]="'VMG'"
      [value]="sensorData?.VMG?.value ?? 0"
      [unit]="sensorData?.VMG?.unit ?? ''"
      [failed]="sensorData?.VMG?.failed ?? true"
    ></app-generic-sensor-card>
    
    <app-generic-sensor-card
      class="dashboard-area-twa"
      [cardClass]="'h-full min-h-0'"
      [title]="'TWA'"
      [value]="sensorData?.TWA?.value ?? 0"
      [unit]="sensorData?.TWA?.unit ?? ''"
      [failed]="sensorData?.TWA?.failed ?? true"
    ></app-generic-sensor-card>
    
    <app-generic-sensor-card
      class="dashboard-area-twd"
      [cardClass]="'h-full min-h-0'"
      [title]="'TWD'"
      [value]="sensorData?.TWD?.value ?? 0"
      [unit]="sensorData?.TWD?.unit ?? ''"
      [failed]="sensorData?.TWD?.failed ?? true"
    ></app-generic-sensor-card>
    
    <app-generic-sensor-card
      class="dashboard-area-tws"
      [cardClass]="'h-full min-h-0'"
      [title]="'TWS'"
      [value]="sensorData?.TWS?.value ?? 0"
      [unit]="sensorData?.TWS?.unit ?? ''"
      [failed]="sensorData?.TWS?.failed ?? true"
    ></app-generic-sensor-card>
  </div>
}